@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.a-text {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;

  &.--name {
    text-transform: capitalize;
    color: white;
    font-weight: 700;
  }

  &.--paginationButton {
    text-transform: capitalize;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
  }
}
