@import './__header/o-detailsContainer__header.css';
@import './__types/o-detailsContainer__types.css';
@import './__stats/o-detailsContainer__stats.css';

.o-detailsContainer {
  width: 50%;
  height: 90vh;
  border-radius: 1rem;
  box-shadow: 17px 18px 49px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  margin: 0 auto;
}
